<div class="row">
  <div class="col-12 col-lg-4">
    <div class="d-grid mb-3">
      <button class="btn btn-primary btn-block" (click)="oneButton()">
        Un botón
      </button>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="d-grid mb-3">
      <button class="btn btn-primary btn-block" (click)="twoButtons()">
        Dos botones
      </button>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="d-grid">
      <button class="btn btn-primary btn-block" (click)="threeButtons()">
        Tres botones
      </button>
    </div>
  </div>
</div>
